/* ==========Global CSS Style Start========= */
*{
    margin: 0;
    padding: 0;

}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 50px;
}
/* ===========Global  CSS style End========== */
.main_menu_section .left_column{
    width: 34%;
    margin-right: 2%;
}
.main_menu_section .right_column{
    width: 64%;
}
.main_menu_section .main_column {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.main_menu_section {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
}
.main_menu_section .container{
    padding-top: 25px;
    padding-bottom: 20px;
    
}
.main_menu_section .right_column ul{
    text-align: right;
    padding-right: 17px;
}
.main_menu_section ul li {
    display: initial;
    padding-right: 34px;
}
.main_menu_section ul li:last-child{
    padding-right: 0;
}
.main_menu_section ul li a{
    font-size: 14.32px;
    color: #c4aa2f;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    transition: .4s;
}
.main_menu_section ul .active{
    position: relative;
}
.main_menu_section ul .active::after{
    content: '';
    position: absolute;
    height: 4px;
    width:calc(100% + 30px);
    background: #c4aa2f;
    bottom:-30px;
    left:50%;
    transform:translateX(-50%);
    transition:.4s;
}
.main_menu_section ul li a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    background: #c4aa2f;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}
.main_menu_section ul li a:hover:after{
    width:calc(100% + 30px);
}
.slider_section {
    position: relative;
}
.main_menu_section .line {
    right: 0;
    height: 2px;
    background: #b4ab9b;
    width: 51%;
    position: absolute;
    bottom: 6%;
    transform: translateX(0%);
    z-index: -1;
}
.slider_section img{
    width: 100%;
}
.owl-dots{
    display: none;
}
.slider_section .slider_caption {
    position: absolute;
    transform: translateX(-50%);
    top: 42%;
    left: 50%;
}
.slider_section .slider_caption h1{
    color: #fff;
    font-size: 65px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
}
.slider_section .slider_caption p{
    position: relative;
}
.slider_section .slider_caption p {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 3px;
    padding-top: 12px;
}
.slider_section .slider_caption p::before {
    content: '';
    position: absolute;
    background: url(../images/caption_line_left.png);
    height: 1px;
    width: 74px;
    top: 61%;
    left: -6%;
    transform: translateY(-50%);
}
.slider_section .slider_caption p::after {
    content: '';
    position: absolute;
    background: url(../images/caption_line_right.png);
    height: 1px;
    width: 74px;
    top: 61%;
    right: -6%;
    transform: translateX(-4%);
}
.owl-theme .owl-nav{
    width: 100%;
}
.owl-theme .owl-nav .owl-prev{
    width: 50%;
    text-align: left;
}
.owl-theme .owl-nav .owl-next{
    width: 50%;
    text-align: right;
}
.about_section h2 {
    color: #232323;
    font-size: 48.02px;
    font-weight: 400;
    text-align: center;
    font-family: 'Playfair Display', serif;
    padding-bottom: 60px;
    position: relative;
}
.about_section h2::after {
    position: absolute;
    content: '';
    background: url(../images/about_logo.png);
    height: 25px;
    width: 143px;
    top: 53%;
    left: 42%;
    transform: translateY(50%);
}
.about_section p{
    color: #333333;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
}
.about_section .container {
    max-width: 1030px;
    margin: 0 auto;
    padding-top: 50px;
}
.about_section .content{
    padding: 0 35px;
}
.about_section .about_content{
    padding-bottom: 30px;
    position: relative;
}
.about_section .button {
    text-align: center;
    padding-top: 55px;
    padding-bottom: 60px;
}
.about_section .button a {
    width: auto;
    padding: 10px 35px;
    color: #8e7037;
    background: #fff;
    border: 2px solid #8e7037;
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;
    transition: .4s;
    text-decoration: none;
}
.about_section .button a:hover{
    background: transparent;
    color:#fff;
    background-color: #8e7037;
}
.about_section .main_column{
    column-count: 3;
    column-gap: 17px;
}
.about_section .flex_container {
    padding-left: 265px;
    padding-right: 265px;
    padding-bottom: 90px;
}
.about_section, .flex_container img{
    width: 100%;
}
.video_section .left_column{
    width: 50%;
}
.video_section .right_column {
    width: 50%;
    display: flex;
}
.video_section .right_column img{
    width: 100%;
}
.video_section .main_column{
    display: flex;
    flex-wrap: wrap;
}
.video_section .video_section_content {
    text-align: left;
    padding: 106px 62px 90px 185px;
    width: 60%;
}
.video_section h3{
    font-size: 24.01px;
    color: #584217;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    position: relative;
}
.video_section h3::before {
    content: '';
    position: absolute;
    background: url(../images/line_logo.png);
    height: 1px;
    width: calc(100% + 383px);
    bottom: 426%;
    left: -32%;
    transform: translateY(60%);
}
.video_section h1 {
    color: #232323;
    font-size: 48.05px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    padding-bottom: 13px;
}
.video_section p {
    font-size: 16.01px;
    color: #333333;
    font-weight: 300;
    line-height: 25px;
    padding-bottom: 30px;
}
.video_section .button a{
    width: auto;
    padding: 11px 31px;
    color: #8e7037;
    background: #fff;
    border: 2px solid #8e7037;
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;
    transition: .4s;
    text-decoration: none;
}
.video_section .button a:hover{
    background: transparent;
    color:#fff;
    background-color: #8e7037;
}
.video_section video {
    width: 100%;
    height: 100%;
}
.gallery_section .galler_container{
    max-width: 1360px;
    margin: 0 auto;
}
.gallery_section .gallery_name{
    background: #8e7037;
}
.gallery_section h1 {
    color: #fff;
    font-size: 48.02px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding-top: 45px;
}
.gallery_logo {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 21px;
}
.gallery_section .main_column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2px;
}
.gallery_section .main_column img{
    width: 100%;
    display: block;
}
.footer_section{
    background:#232323;
}
.footer_section .container {
    padding: 0 90px;
    padding-bottom: 15px;
}
.footer_section .footer_logo {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 45px;
}
.footer_section .footer_media{
    width: 23%;
}
.footer_section .media_content {
    padding-left: 90px;
}
.footer_section .footer_name{
    width: 31%;
}
.footer_section .name_style{
    padding-right: 125px;

}
.footer_section .phone_fax{
    width: 23%;
}
.footer_section .phone_item {
    padding-left: 83px;
}
.footer_section .footer_site{
    width: 23%;
}
.footer_section .footer_site_logo {
    padding-left: 109px;
}
.footer_section .main_column {
    display: flex;
    padding-bottom: 18px;
}
.footer_section .footer_media ul{
    display: flex;
}

.footer_section .footer_media ul li{
    list-style: none;
}
.footer_section .footer_media ul li a{
    color: #fff;
    font-size: 18px;
    font-family: 'FontAwesome';
    padding: 0 10px;
}
.footer_section p {
    color: #fff;
    font-size: 14px;
    text-align: right;
}
.footer_section .phone_fax ul li {
    list-style: none;
    padding-bottom: 10px;
}
.footer_section .phone_fax ul li:last-child{
    padding-bottom: 0;

}
.footer_section .phone_fax a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    padding-left: 5px;
}
.footer_section .phone_fax strong{
     color: #fff;
    font-weight: 400;
    font-size: 14px;
}
.footer_section .border {
    height: 2px;
    width: 83%;
    background: #4f4f4f;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}
.socket {
    margin: 0 auto;
    padding: 22px 0 7px 100px;
}
.socket p{
    text-align: left;
    font-size: 14.4px;
    color: #fff;
    opacity: .6;
    font-weight: 400;
}
/* ==========Contact_Page========== */
.contact_section{
    background: #fff;
}
.slider_section .slider_caption_contact {
        position: absolute;
        transform: translateX(-50%);
        top: 50%;
        left: 50%;
}
.slider_section .slider_caption_contact h1 {
    color: #fff;
    font-size: 56.54px;
    font-weight: 400;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}
.contact_page ul li{
    display: initial;
    padding-right: 27px;
}
 .contact_section .left_column{
    width: 50%;
    margin-right: 4%;
}
.contact_section .left_container2 {
    padding-left: 310px;
}
.contact_section .right_column{
    width: 46%;
}
.contact_section .main_column {
    display: flex;
    flex-wrap: wrap;
    padding: 75px 0;
}
.contact_page_footer .name_style{
    padding-right: 75px;

}
.contact_section h3 {
    font-size: 34.02px;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    color: #232323;
    padding-bottom: 10px;
}
.contact_section .container {
    padding: 0;

}
.contact_section .contact_logo {
    text-align: center;
    padding-bottom: 33px;
}
.contact_section ul li{
    line-height: 35px;
    list-style: none;
}
.contact_section ul a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    padding-left: 5px;
    color: #444444;

}
.contact_section ul .location, .phone{
    position: relative;
}
.contact_section ul .location::before {
    content: '';
    position: absolute;
    background: url(../images/location.png);
    height: 19px;
    width: 13px;
    left: 0;
    top: 0;
}
.contact_section ul .phone::before {
    content: '';
    position: absolute;
    background: url(../images/phone.png);
    height: 16px;
    width: 16px;
    left: 0;
    top: 0;
}
.contact_section ul .location2, .fax, .phone{
    padding-left: 37px;
}
.contact_section span{
    padding-left: 37px;
}
.contact_section .left_container{
    width: 100%;
}
.contact_section input, .contact_section textarea {
    width: 100%;
    padding: 7px;
    color: #232323;
    border: 1px solid #8e7037;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    resize: none;
}
.contact_section .name_mail{
    display: flex;
    column-gap: 7px;
}
.contact_section .phone_subject{
    display: flex;
    column-gap: 7px;
}
.contact_section textarea {
    margin-bottom: 40px;
    width: 100%;
    resize: none;
    height: 190px;
    box-sizing: border-box;
}
.contact_section .button input{
    width: auto;
    padding: 9px 60px;
    color: #fff;
    background: #8e7037;
    border: 1px solid #8e7037;
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;
    transition: .4s;
}
.contact_section .button input:hover {
    background: transparent;
    color: #8e7037;
}
.contact_section .button{
    text-align: center;
}
.about_page_section .container {
    padding: 110px 50px;
}
.about_page_section .left_column{
    width: 49%;
    margin-right: 1%;
}
.about_page_section .right_column{
    width: 48%;
    margin-left: 2%;
}
.about_page_section .left_column2{
    width: 48%;
    margin-right: 2%;
}
.about_page_section .right_column2{
    width: 49%;
    margin-left: 1%;
}
.about_page_section .main_column{
    display: flex;
    flex-wrap: wrap;
}
.about_page_section .main_column2{
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom:70px;
}
.about_page_section .first_p {
    padding-bottom: 25px;
}
.about_page_section .second_p{
    padding-bottom: 25px;
}
.about_page_section img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.about_page_section p{
    font-size: 15px;
    color: #333333;
    font-weight: 400;
    text-align: justify;
}
.about_question_section{
    background: #8e7037;
}
.about_question_section .content {
    padding: 60px 0;
    max-width: 1220px;
    margin: 0 auto;
}
.about_question_section p{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: #fff;
}
.about_question_section a{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}
.about_question_section .logo{
    text-align: center;
}
.about_question_section img{
    padding: 15px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
/* 
 @media only screen and (max-width:600px) {
    .about_section {
      display: none;
    }
} */